@import "../../variables.scss";
.container {
    height: 100vh;
    background-image: url(../../assets/ad-assassins-club-bg-1.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.overlay {
    height: 100%; // background-color: rgba(0, 0, 0, 0.96);
    // background-image: radial-gradient(to bottom right, rgba(50, 50, 50, 0.95), rgba(52, 58, 64, .95));
    background-color: rgba($color: (#000000), $alpha: .75);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.background {
    //background-image: url("../../assets/bg3.png");
    background-image: url("../../assets/ad-assassins-club-logo-1.svg"); //background-image: url("../../assets/football-xs-and-os.jpg");
    //  background-image: url('../../assets/football-play.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    background-size: cover;
}

.backgroundOverlay {
    height: 100%; // background-color: rgba(0, 0, 0, 0.96);
    background-image: radial-gradient( rgba(40, 44, 52, 1), rgba(0, 0, 0, .98));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

// .welcomeCaption {
//   display: flex;
//   flex-flow: column;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
// }
// .gridContainer {
//   height: 101vh;
//   position: relative;
// }
.loginPanelContainer {
    background-color: rgba(256,256,256,0.78);
    height: 650px;
    width: 320px; // display: flex;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: relative;
}

.topPanel {
    height: 33%;
    background-color: transparent;
    background-image: url("../../assets/ad-assassins-club-logo-3.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.bottomPanel {
    height: 67%;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 1rem;
}

.loginPanel {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0px; // width: 80%;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.loginForm {
    display: flex;
    flex-flow: column;
}

.loginBtn {
    // width: 75%;
    margin: 1rem;
    height: 3rem;
    position: relative;
}

.loginBtn:disabled {
    opacity: 1;
}

.subText {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
}