@import "../../variables.scss";

.title {
    text-transform: uppercase;
}

// .drawerTitleContainer {
//     padding-left: 24px;
//     height: 64px;
//     justify-content: space-between;
//     background-color: $primary-color;
//     color: #fff;
// }
.outerHeaderContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo,
.logo img {
    position: relative;
    top: 10px;
    height: 133px;
}

.toolbar {
    // height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.toolbarLeft {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 100%;
    transition: margin-left 0.2s ease-out;
}

.toolbarLeft.drawerOpen {
    margin-left: 260px;
}

.innerHeaderContainerLeft {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.innerHeaderContainerRight {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.flexCenter {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.closeDrawerBtn {
    // background-color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
}

.linkBtn:hover {
    outline-color: #fff;
    color: $secondary-color;
    border-color: #fff;
}

.avatarBtn {
    padding: 0px;
    margin-right: 100px;
    ;
}

.avatarToolbar {
    height: 2.5rem;
    // width: auto;
    // margin: 1rem;
}

.avatarMenu {
    height: 3.5rem;
    width: 3.5rem;
}

.emailMenu {
    color: #000;
    font-size: 1.1rem;
}

.containerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;

}

.drawerToggle {
    color: $white;
    background-color: darken($primary-color, 5);
    padding: 0.5rem;
    // height: 36px;
    // svg {
    // width: 36px;
    height: 48px;
        border-radius: 3px;
    // }
}

.drawerHeader {
    background-color: $primary-color;
    height: 192px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    color: $white;
}

.drawerFullName {
    font-size: 1.5rem;
}

.drawerEmail {
    font-size: .75rem;
    color: #ccc;
}